# MATLAB project settings
.prj

# Rope project settings
.ropeproject

# link
*.lnk

# sample data
_sample_data/*
_sample_doc/*
_storage/*

# experiments folder
_experiments/results/*

# log
PackagingLog.html

src/20210404/*